.TitreChapitreMaquette {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000066;	text-align: center;}
.Livre_Titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;	font-weight: bold;
	color: #000099;
	text-align: left;
	margin-left: 5px;}
.GalerieImage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	color: #000099;
	text-align: left;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	text-decoration: none;
	line-height: 15px; }
.GalerieImage:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000099;
	color: #FFFFFF;
	text-align: left;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	text-decoration: none;
	line-height: 15px; }
.GalerieImageFixe {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	color: ##660000;
	text-align: left;
	margin-left: 1px;
	margin-top: 1px;
	margin-right: 1px;
	text-decoration: none;
	line-height: 15px; }
.MenuEntree { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000066;
	text-align: center;
	text-decoration: none;}
.MenuEntree:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #000099;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;}
.MenuEntree10 { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;	font-weight: bold;
	color: #000066;
	text-align: center;
	text-decoration: none;}
.MenuEntree10:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #000099;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;}
.LegendeImage {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px; 
	line-height: normal;
	color: #000099;
	margin-bottom: 5px;
	margin-left: 5px;}
.LegendeImageLien {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px; 
	line-height: normal;
	color: #CC0033;
	margin-bottom: 5px;
	margin-left: 0px;
	text-decoration:none;}
.LegendeImageLien:hover {text-decoration:underline;}
.LegendeImageBlanc {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px; 
	line-height: normal;
	color: #FFFFFF;
	margin-bottom: 5px;
	margin-left: 5px;}
.LegendeImage10 {
	font-family: "Comic Sans MS", Arial;
	font-size: 10px;
	line-height: normal;	color: #000099;
	margin-bottom: 5px;
	margin-left: 5px;}
.Comic9px {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px;
	font-style: normal;	text-align: center;
	color: #000099;
	margin-bottom: 5px;
	margin-left: 5px;
	text-decoration: none;}
.Comic9px:hover {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px; 
	background-color: #000099;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 5px;
	margin-left: 5px;
	text-decoration: none;}
.Comic9pxFixe {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px;
	font-style: normal;	text-align: center;
	color: #000099;
	margin-bottom: 5px;
	margin-left: 5px;
	text-decoration: none;}
.Comic9pxGris {
	font-family: "Comic Sans MS", Arial; 
	font-size: 9px; 
	color: #666666;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 5px;
	cursor: default;
	text-decoration: none;}
.LegendeImageHelp {
	font-family: "Comic Sans MS", Arial;
	font-size: 9px;
	line-height: normal;
	color: #000099;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: justify;}
.PageSuite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;}
.HN_MaquettePetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	font-weight: bold;
	color: #000080;
	text-align: center;}
.HN_MaquetteGrand {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: bold;
	color: #000080;
	text-align: center;}
.TitrePageMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	color: #FFFFFF;
	text-align: center;}
.MenuElementaire {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	line-height: normal;	font-weight: normal;	font-variant: normal;
	color: #330000;
 	text-align: left;
	border-color: #0000FF black black;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 10px;}
.BandeauElem {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	color: #330000;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px; }
.BandeauElem:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000099;
	color: #FFFFFF;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px; }
.BandeauElemNeutre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	color: #666666;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px;
	cursor: default;}
.BandeauBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000099;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px;
	cursor: pointer;}
.BandeauBleu-Over {
	color: #FFFFFF;
	background-color:#000066;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px;
	cursor: pointer;}
.BandeauBleu-Over:hover {
	color: #FFFF00;}
.BandeauElemBleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;	color: #000099;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px; }
.BandeauElemBleu:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000099;
	color: #FFFFFF;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	line-height: 15px; }
.MenuBouton { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #330000;
	text-align: left;
	border-color: #0000FF black black;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	text-decoration: none;}
.MenuBouton:hover { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000066;
	color: #FFFFFF;
	text-align: left;
	border-color: #0000FF black black;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	text-decoration: none;}
.MenuPrincipal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	text-align: left;}
.Bandeau {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #000066;
	text-align: left;
	text-decoration: none;
	line-height: 15px;}
.Bandeau:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	background-color: #000066;
	color: #FFFFFF;
	text-align: left;
	text-decoration: none;
	line-height: 15px;}
.BandeauNeutre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
	text-align: left;
	text-decoration: none;
	line-height: 18px;
	cursor: default;}
.BandeauSite {
	color: #FFFFFF;
	background-color:#009999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
;	text-align: center;
	margin-top: 5px;
	text-decoration: none;
	line-height: 15px;
	cursor: pointer;}
.BandeauSite:hover {
	color: #FFFF66;}